.ProductList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

@media screen and (max-width: 478px) {
  .ProductList {
    width: 90%;
  }
}

@media screen and (min-width: 478.1px) and (max-width: 576px) {
  .ProductList {
    width: 90%;
  }
}

@media screen and (min-width: 576.1px) and (max-width: 768px) {
  .ProductList {
    width: 80%;
  }
}
