.Admin {
  min-height: calc(100vh - 10rem);
  h1 {
    font-weight: normal;
    color: #333333;
  }
  hr {
    border: 0.5px solid #eee;
    width: 50%;
  }
  .admin-actions {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      font-weight: normal;
      color: #333333;
      font-size: 1.3rem;
      margin: 8px;
      background-color: whitesmoke;
      padding: 8px;
      cursor: pointer;
      &:hover {
        background-color: #ccc;
      }
    }
  }
  .form {
    width: 50%;
    border: 1px solid #eee;
    border-radius: 7px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    hr {
      border: 0.5px solid #eee;
      width: 50%;
    }
    button {
      margin-top: 1rem;
      background-color: #eee;
      color: #333333;
      border: none;
      cursor: pointer;
      padding: 8px;
      font-size: 1.2rem;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}
