.ShoppingCart {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 9;
  .cart-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75%;
    min-height: 200px;
    border-radius: 7px;
    height: auto;
    background-color: white;
    z-index: 4;
    .order {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .order-btn {
        margin-bottom: 2rem;
        padding: 5px;
        background-color: rgb(137, 184, 137);
        font-size: 1.5rem;
        color: white;
        border: none;
        &:hover {
          cursor: pointer;
          background-color: rgb(110, 207, 110);
        }
      }
    }
    .close-cart {
      position: absolute;
      top: 20px;
      right: 25px;
      font-size: 1.3rem;
      color: #333333;
      z-index: 4;
      cursor: pointer;
      &:hover {
        color: tomato;
      }
    }
    p,
    h4 {
      font-weight: lighter;
      font-size: 2rem;
    }
    ul {
      list-style: none;
      padding: 0;
      hr {
        max-width: 50%;
        border: 0.5px solid #eee;
      }
      li {
        display: flex;
        padding: 7px;
        font-size: 1.3rem;
        width: 800px;
        font-weight: 300;
        list-style: none;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin: 5px 0;
        &:first-child {
          border: none;
        }

        span {
          padding: 9px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          flex-basis: 20%;
          align-items: center;
          color: #333333;
          &.product-name {
            justify-content: space-between;
          }
          i {
            cursor: pointer;
            margin: 0 3px;
            font-size: 1.3rem;
            color: #353434;
            &.minus:hover {
              color: tomato;
            }
            &.plus:hover {
              color: rgb(126, 194, 126);
            }
            &.info {
              cursor: pointer;
              font-size: 1.4rem;
              color: skyblue;
              &:hover {
                color: rgb(0, 183, 255);
              }
            }
            &.remove:hover {
              color: tomato;
            }
          }
        }
        .amount {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border-left: 1px solid #eee;
          border-right: 1px solid #eee;
          box-sizing: border-box;
        }
      }
    }
  }
}

@media screen and (max-width: 478px) {
  .ShoppingCart {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    .cart-content {
      display: block;
      width: 100vw;
      min-height: 100%;
      overflow-y: auto;
      border-radius: 0px;
      margin: 0 auto;
      ul {
        width: 100%;
        margin: 4rem 0;
        li {
          flex-direction: column;
          padding: 3px;
          font-size: 1rem;
          width: 260px;
          margin: 5px auto;
          border-radius: 7px;
          &:first-child {
            display: none;
          }
          span {
            position: relative;
            &.product-name {
              justify-content: center;
            }
            i {
              &.info {
                margin: 0 5px;
              }
            }
          }
          .amount {
            justify-content: center;
            i {
              margin: 0 10px;
            }
          }
        }
      }
      .order {
        p {
          font-size: 1.5rem;
        }

        .order-btn {
          font-size: 1rem;
          font-weight: lighter;
        }
      }
      .close-cart {
        top: 2rem;
        right: 2rem;
      }
    }
  }
}

@media screen and (min-width: 478.1px) and (max-width: 576px) {
  .ShoppingCart {
    position: fixed;
    .cart-content {
      display: block;
      width: 100%;
      min-height: 100%;
      overflow-y: auto;
      border-radius: 0px;
      ul {
        width: 100vw;
        margin-top: 4rem;
        li {
          flex-direction: column;
          padding: 3px;
          font-size: 1rem;
          width: 400px;
          margin: 5px auto;
          border-radius: 7px;
          &:first-child {
            display: none;
          }
          span {
            position: relative;
            &.product-name {
              justify-content: center;
            }
            i {
              &.info {
                margin: 0 5px;
              }
            }
          }
          .amount {
            justify-content: center;
            i {
              margin: 0 10px;
            }
          }
        }
      }
      .close-cart {
        top: 2rem;
        right: 2rem;
      }
    }
  }
}

@media screen and (min-width: 576.1px) and (max-width: 768px) {
  .ShoppingCart {
    position: fixed;
    .cart-content {
      display: block;
      width: 100vw;
      min-height: 100%;
      overflow-y: auto;
      border-radius: 0px;
      ul {
        width: 100%;
        li {
          padding: 3px;
          font-size: 1rem;
          width: 520px;
          margin: 5px auto;
          span {
            position: relative;
            i {
              &.info {
                position: absolute;
                top: 10px;
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768.1px) and (max-width: 921px) {
  .ShoppingCart {
    position: fixed;
    .cart-content {
      display: block;
      width: 100%;
      min-height: 100%;
      overflow-y: auto;
      border-radius: 0px;
      ul {
        li {
          font-size: 1.1rem;
          width: 700px;
          margin: 5px auto;
          span {
            position: relative;
            i {
              &.info {
                position: absolute;
                top: 10px;
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 921.1px) and (max-width: 1200px) {
  .ShoppingCart {
    position: fixed;
    .cart-content {
      display: block;
      width: 100%;
      min-height: 100%;
      overflow-y: auto;
      border-radius: 0px;
      ul {
        li {
          font-size: 1.2rem;
          width: 800px;
          margin: 5px auto;
          span {
            position: relative;
            i {
              &.info {
                position: absolute;
                top: 10px;
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
