.Header {
  margin: 0 auto;
  box-sizing: border-box;
  .info {
    cursor: default;
    font-size: 1rem;
    font-weight: lighter;
    flex-wrap: wrap;
    span {
      margin: 7px;
    }
  }
}
@media screen and (max-width: 478px) {
  .Header {
    .info {
      display: none;
    }
  }
}

@media screen and (min-width: 478.1px) and (max-width: 576px) {
  .Header {
    .info {
      display: none;
    }
  }
}
