.Header {
  height: 3rem;
  margin: 0 auto;
}

@media screen and (max-width: 478px) {
  .Header {
    height: auto;
  }
}

@media screen and (min-width: 478.1px) and (max-width: 576px) {
  .Header {
    height: auto;
  }
}
