.Navigation {
  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 5px;

      a {
        font-size: 1.3rem;
        text-decoration: none;
        color: #333333;
        transition: 0.3s;
      }

      a:hover,
      a:active {
        color: tomato;
        transition: 0.3s;
      }

      .active {
        color: tomato;
      }
    }
  }
}
@media screen and (max-width: 478px) {
  .Navigation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0.9;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      li {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 478.1px) and (max-width: 576px) {
  .Navigation {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: white;
      z-index: 1;
      opacity: 0.9;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      li {
        display: block;
      }
    }
  }
}