.Slider {
  position: relative;
  width: 700px;
  height: 200px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  .slides-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
